*,*::before, *::after {
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
}

body {
    padding:0;
    margin:0;
    background: linear-gradient(to left, white,rgb(226, 212, 191));
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    border:5px;
    border-color: black;
}
.calculator>.display {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    height:150px;
    width:400px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.068);
    padding:10px;
       
}
.display .prevNumber {
    color:dimgrey;
    font-size: 30px;
}

.display .currNumber {
    color:rgb(71, 47, 47);
    font-size: 50px;
}
.calculator>.buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 500px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px, auto) repeat(4,100px);
    
}

.calculator>.buttons>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline:none;
    background-color: bisque;
}

.calculator>.buttons>button:hover {
    background-color: rgb(219, 195, 164);
}
#span-2 {
    grid-column: span 2;
    background-color: rgba(214, 165, 80, 0.459);
    
}
[data-operation] {
    background-color: rgba(186, 219, 134, 0.473) !important;
}